
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
#Ignore Unity project temp and build files
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
/Library/
/obj
/Temp
/Builds
#Ignor Google Ads Controller
AdsController.cs
AdsController.cs.meta
